





body{
    background-color: #4E47FF03;
}


/* sheard style */

.display-flex {
    display: flex;
}
.hover:hover{
    background-color: #4d47ff96;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.733);
    transition: 0.3s;
}

/* sheard style */

/* navber start */
.navber{
     justify-content: space-between;
     align-items: center;
     margin: 0 150px;
}
.logo {
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
    
}
.nav-btn{
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 700;
}
/* navber end */

/* start-banner */
.banner{
    justify-content: center;
    margin-top: 150px;
}
.banner-container{
 width: 900px; 
 height: 200px;  
 text-align: center;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}
.banner-btn{
     background-color: #4E47FF;
    padding: 12px 38px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    
    
}
/* end-banner */